.menu-items{
    color: blueviolet;
    list-style: none;
    display: flex;
    gap: 20px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.col{
    color: red;
}
.hero-image img{
    width: 100%;
}
table{
    width: 100%;
    background: #686363;
    border-radius: 10px;
    
}
tr,td{
    padding: 15px;
}
th{
    border-bottom: 1px solid black;
    padding: 20px;
    background: #f2f2f2;
}

.backg {
    /* background-color: rgb(69, 245, 69); */
    padding: 80px 0px 80px;
}
.backg .container{
    background-color: violet;
}
.fruits img{
    width: 100;
    padding: 20px 20px 20px;
}
.footer{
    padding: 80px 0x;
    background: olive;
}
.forms .container{
    padding: 20px, 20px, 20px;
    background-color: rgb(79, 205, 236);
}
.products{
    background: lightcoral;
    padding: 80px, 0px;
}
.title{
    text-align: center;
}
.products .card{
    margin-bottom: 25px;
}
.one{
    background: url(../images/download.jpg);
    padding: 80px 0px ;
 }
 .one .card{
    margin-bottom: 25px;
 }
 .footer-para{
    font-family: "Poppins";
    font-size: 16;
    font-weight: 600;
 }
 .footer ul li{
    list-style: none;
 }
 .footer .fa{
    color: aliceblue;
 }
 .two .card{
    border:none;
 }
 @media only screen and (max-width:1020){
    .col{
        color: rgb(233, 46, 177);
        font-size: 80px;

    }
    
 }
 @media only screen and (max-width:992px){
    .col{
        color: red;
        font-size: 40px;

    }

 }
 @media only screen and (max-width:768px){
    .col{
        color: blue;
        font-size: 40px;

    }
 }
